[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
djangorestframework = "*"
django = "*"
djangorestframework-simplejwt = "*"
stripe = "*"
django-debug-toolbar = "*"
pillow = "*"
mutagen = "*"
pydub = "*"
rest-condition = "*"
channels = {extras = ["daphne"], version = "*"}

[dev-packages]
autopep8 = "*"

[requires]
python_version = "3.10"
